################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StorageClient/.vs/StorageClient/v16/Server/sqlite3
